.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
    

.div2 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
}

.div3 {
    grid-column-start: 2;
    grid-row-start: 1;
}

.div4 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
}

.div5 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
}

.div6 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.div7 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 1;
}

.div8 {
    grid-column-start: 4;
    grid-row-start: 3;
}