@font-face {
    font-family: Persia;
    src: url(/public/Font/Yekan.ttf);
}

@font-face {
    font-family: vazirmatn;
    src: url(/public/Font/Vazirmatn-Medium.ttf);
}

* {
    font-family: Persia;
}

.test{
    font-family: vazirmatn;
}

main{
    background-color: #e5e7eb;
}