.PaginationButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0 0 0;
}

.PaginationButton>li {
    width: 40px;
    height: 40px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    border: 1px solid #282828;
    color: #00000099;
}

.PaginationButton>li:first-child {
    display: none;
}

.PaginationButton>li:last-child {
    display: none;
}

.selectedButton {
    background-color: #FFB800;
    border: none !important;
    color: white;
}

.selectedButton li {
    border: none !important;
}